#Base
BLOCKCHAIN_URL=http://127.0.0.1:8899
DELAY=30000

#Addresses
LIQUIDATOR_ADDRESS=4eGut8vN9Rt6SFmuvMrZL9Aj8jqHEax66hMXtBjFp4L9
FEE_VAULT_ADDRESS=GGi1TPNkAokw53u2a3gwV1T2iQ8SC4SLdZ8FgySA2Wck
SOL_REPRESENTATIVE_MINT_ADDRESS=
USDC_MINT_ADDRESS=
USDC_REPRESENTATIVE_MINT_ADDRESS=
BTC_MINT_ADDRESS=
BTC_REPRESENTATIVE_MINT_ADDRESS=
ETH_MINT_ADDRESS=
ETH_REPRESENTATIVE_MINT_ADDRESS=
USDT_MINT_ADDRESS=
USDT_REPRESENTATIVE_MINT_ADDRESS=
XRP_MINT_ADDRESS=
XRP_REPRESENTATIVE_MINT_ADDRESS=
ADA_MINT_ADDRESS=
ADA_REPRESENTATIVE_MINT_ADDRESS=